<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docj</title>
</head>
<body>
    <h2>Title: <%= article.title %></h2>
    <h5>Content: <%= article.content %></h5>
    
    <!-- How this is adding to the route -->
    <a href="<%= articleId %>/edit">Edit</a>
    
    <a href="<%= articleId %>/delete">Delete</a>
    <!-- <form action="<%= articleId %>/delete">
        <input type="button" value="Delete">
    </form> -->
</body>
</html>






